### Shark attaks

In [1]:
!pip install pandas
import pandas as pd

Requirement already satisfied: pandas in c:\users\anna\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\anna\anaconda3\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\anna\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\anna\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\anna\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\anna\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [2]:
!pip install numpy
import numpy as np

Requirement already satisfied: numpy in c:\users\anna\anaconda3\lib\site-packages (2.1.3)

In [3]:
df_50_last_years = pd.read_csv("data/interim/1_interim_clean_50_years_countries_sex_fatal.csv")
df_50_last_years.head()

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,Injury,Fatal Y/N,Species
0,28th July,2025.0,Unprovoked,Australia,South Australia,Seacliff beach Adelaide,Kayaking,Nathaniel Drummond,M,19,Kayak badly damaged no injury to person,N,Great White Shark est 3m (10ft)
1,2025-06-11 00:00:00,2025.0,Unprovoked,Usa,Florida,Boca Grande,Snorkeling,Leah Lendel,F,9,Right hand almost torn off,N,Bull shark
2,17th June,2025.0,Unprovoked,Usa,South Carolina,Beach Marker 24 Hilton Head Island,Swimming,Pre-teenage girl,F,12,Laceration to lower right leg,N,Not stated
3,14th October,2025.0,Unprovoked,Columbia,"Bolivar, del Isolate",Catagena Province,Swimming with sharks,Male child,M,14,Severe hand injury,N,Nurse shark
4,7th October,2025.0,Unprovoked,Australia,South Australia,Kangaroo Island,Surfing,Lee Berryman,M,50+,Lacerations to calf,N,Bronze whaler?

In [4]:
df = df_50_last_years

# From this point the cleaning starts